 /* Colors-
     -background
        -header background: #FFFFFF;
        -footer background: #2F303A;
        -primery background: #F5F5F5;
        -secondary background: #F5F4FA;
    -text
        -primery text: #212121;
        -secondary text: #757575;
        -hero text: #FFFFFF;
        -hover text: #2196F3;
        -logo-blue: #2196F3;
        -logo-black: #000000;
*/

/* Fonts:
-primery-font: Roboto 
font-weight: 400 500 700 900;

-logo-font: Raleway
font-weight: 700;
*/

:root {
    --primery-bg-color:#F5F5F5;
    --secondary-bg-color:#F5F4FA;
    --header-bg-color:#FFFFFF;
    --footer-bg-color:#2F303A;
    --primery-text-color:#212121;
    --secondary-text-color:#757575;
    --hover-text-color:#2196F3;
    --logo-black-color:#000000;
    --logo-blue-color:#2196F3;
    --footer-text-color:#FFFFFF99;

}        

/* Загальні стилі */
body {
   background-color:var(--primery-bg-color);
   color:var(--primery-text-color);

   font-family: 'roboto', sans-serif;
   letter-spacing: 0.03em;
}

ul {
    list-style: none;
}

.hidden-title {
    visibility: hidden;
}

/* Верхня лінія / Футер */

.top-line {
    background-color:var(--header-bg-color);
}

.logo {
    
    color:var(--logo-black-color);
    font-family: 'raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-blue {
   color:var(--logo-blue-color);
}

.menu-nav .link {
    
    color:var(--primery-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

}

.menu .link {
    
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.address {

    font-size: 14px;
    line-height: 1.71;
    
}

.link {
    color:var(--footer-text-color);
}

.link:hover,
.link:focus {
    color:var(--hover-text-color);
}
.link-map {
    color:var(--header-bg-color);

}

.link-map:hover,
.link-map:focus {
    color:var(--hover-text-color);
}

.address .link:hover,
.address .link:focus {
    color:var(--hover-text-color);
}

.footer {
    background-color:var(--footer-bg-color);
}

.footer .logo {
    color:var(--header-bg-color);
}

        /* CSS index.html */

    /* Герой */
.hero {
    background-color:var(--footer-bg-color);
}

.hero-title {
    
    color:var(--header-bg-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    
    cursor: pointer;
}

.hero .button {  
    
    color: var(--header-bg-color);
    background-color: var(--hover-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

}

.hero .button:hover,
.hero .button:focus {
    
    color: var(--hover-text-color);
    background-color: var(--header-bg-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
}

    /* Особливості */
.features {

}
.features .title {

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

}

.features .post {
        
    font-size: 14px;
    line-height: 1.71;
    
}

.features-list {

}

.features-item {

}

.post {
    color:var(--secondary-text-color);
}

    /* Чим ми займаємось */
.images {

}

.images .title {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

}

.img {

}

    /* Наша команда */
.team {
    background-color:var(--secondary-bg-color);
}

.team .title {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.cards {

}

.card {
    background-color:var(--header-bg-color);
}

.card-img {

}

.card .title {

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

}

.card .post {

    font-size: 16px;
    line-height: 1.19;
    text-align: center;

}

        /* CSS portfolio.html */

    /* Портфоліо */
.projects {

}

.project {
background-color:var(--header-bg-color);
}

.project .title {

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project .post {

    font-size: 16px;
    line-height: 1.88;
}

.project-img {

}


    /* Фільтри */

.filters {

}

.filter {
    
}

.filters .button {
    background-color:var(--secondary-bg-color);
    color:var(--primery-text-color);

}

.filters .button:hover,
.filters .button:focus {
    color: var(--header-bg-color);
    background-color: var(--hover-text-color);

}
