/* Colors-
     -background
        -header background: #FFFFFF;
        -footer background: #2F303A;
        -primery background: #F5F5F5;
        -secondary background: #F5F4FA;
    -text
        -primery text: #212121;
        -secondary text: #757575;
        -hero text: #FFFFFF;
        -hover text: #2196F3;
        -logo-blue: #2196F3;
        -logo-black: #000000;
- футер 
 колір тексту color: #212121; */
/* другий колір тексту color: #757575; */
/* колір лого #000000 #2196F3 */
/* колір тексту посилань при наведенні #2196F3 */
/* колір тексту в шапці #FFFFFF */
/* колір в підвалі #FFFFFF #FFFFFF99 */
/* header-bg #2F303A; */
:root {
    --primery-bg-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --header-color: #FFFFFF;
    --header-bg: #2F303A;
}

/* Загальні стилі */
ul {
    list-style: none;
}

.hidden-title {
    visibility: hidden;
}

/* Верхня лінія / Футер */
.logo {

}
.menu-nav {

}

.adress {
    
}
.link {

}

.link:hover,
.link:focus {

}
.link-map {

}


/* CSS index.html */

/* Герой */
.site-nav .link:hover,
.site-nav .link:focus {
    color: var();
}
/* Чим ми займаємось */

/* Наша команда */



/* CSS portfolio.html */

/* Портфоліо */

/* Фільтри */


