 /* Colors-
     -background
        -header background: #FFFFFF;
        -footer background: #2F303A;
        -primery background: #F5F5F5;
        -secondary background: #F5F4FA;
    -text
        -primery text: #212121;
        -secondary text: #757575;
        -hero text: #FFFFFF;
        -hover text: #2196F3;
        -logo-blue: #2196F3;
        -logo-black: #000000;
*/

:root {
    --primery-bg-color:#F5F5F5;
    --secondary-bg-color:#F5F4FA;
    --header-bg-color:#FFFFFF;
    --footer-bg-color:#2F303A;
    --primery-text-color:#212121;
    --secondary-text-color:#757575;
    --hover-text-color:#2196F3;
    --logo-black-color:#000000;
    --logo-blue-color:#2196F3;
    --footer-text-color:#FFFFFF99;

}        

/* Загальні стилі */
body {
   background-color:var(--primery-bg-color);
   color:var(--primery-text-color);
}


ul {
    list-style: none;
}

.hidden-title {
    visibility: hidden;
}

/* Верхня лінія / Футер */
.logo {
    color:var(--logo-black-color);
}

.logo-blue {
   color:var(--logo-blue-color);
}

.menu-nav .link {
    color:var(--primery-text-color)
}

.menu .link {
    color: var(--secondary-text-color)
}

.address {
    
}

.link {
    color:var(--footer-text-color)
}

.link:hover,
.link:focus {
    color:var(--hover-text-color)
}
.link-map {
    color:var(--header-bg-color)
}

.link-map:hover,
.link-map:focus {
    color:var(--hover-text-color)
}

.address .link:hover,
.address .link:focus {
    color:var(--hover-text-color)
}


/* CSS index.html */

/* Герой */
.site-nav .link:hover,
.site-nav .link:focus {
    color: var();
}
/* Чим ми займаємось */

/* Наша команда */



/* CSS portfolio.html */

/* Портфоліо */

/* Фільтри */


